body{
    
    background-image: url("../img/Laptop-Wallpapers-Black-HD-hd-background-wallpapers-amazing-cool-tablet-smart-phone-4k-high-definition-1920x1200.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30px;
    
}

nav {
    word-spacing: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding-right: 0px;
    margin: 0px;
    text-decoration-line: none;
    position: fixed;
    padding-top: 20px;
    text-align: center;
    
    
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
  display: grid;
}

.dropdown-content {
    display: grid;
    background-color: black;
    font-size: 30px;
    /* min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; */
}


.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}


html {
    scroll-behavior: smooth;
}

.content {
    text-align: center;
    padding-top: 20px;
    color: black;
}

img {
    padding-top: 40px;
    width: 15%;
    height: 15%;
}

.icons {
    font-size: 40px;
    word-spacing: 30px;
    line-height: 20px;
    color: white;
    

}

a:link {
    text-decoration: none;
    color: darkred;
  }
  
  a:visited {
    color: darkred;
  }
  
  a:hover {
    background-color: aqua;
    color: black;
    text-decoration: none;
  }
  
  a:active {
    color: white;
  }

header {
    padding-top: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    
}

.description {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: black;

}


p {
    font-size: 25px;
    font-style: oblique;
    color: black;
   
}

.me {
    font-size: 40px;
    color: black;
}

.education {
    text-align: center;
    font-size: 40px;
    color: black;
}

.container {
    padding-right: 10%;
    padding-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h2 {
    font-size: 30px;
    color: black;

}
.h3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

h3 {
    font-size: 30px;
    font-style: italic;
    color: black;
    
}

#demo {
    color: darkred;
    padding-left: 70px;
    padding-right: 70px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.footer {
    text-align: center;
}

/* media queries */

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 481px)
  and (-webkit-min-device-pixel-ratio: 2) {

    nav {
        font-size: 20px;
        text-align: left;
        padding-top: 50px;


    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        font-size: 30px;
    
    }

}









